<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>{{ titolo }}</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>
<body>
  <div class="pure-g">
    <div class="pure-u-4-5">
      <form class="pure-form" action="">
        <fieldset>
          <legend>Generatore Pagine Moduli Tradotti</legend>
          <label for="nomeModulo">
            <input type="text" id="nomeModulo" placeholder="inserire nomi modulo separati da spazio">
          </label>
          <hr>
          <button type="submit" class="pure-button pure-button-primary">Genera Pagina</button>
        </fieldset>
      </form>
    </div>
    <div class="pure-u-4-5">

    </div>
  </div>
</body>
</html>
