<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>{{ titolo }}</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>
<body>
  <header>

  </header>
  <content>
    <div class="pure-g">
      <div class="pure-u-1-5">

      </div>
      <div class="pure-u-3-5">
        <form class="pure-form pure-form-aligned" action="">
          <legend>Generatore Pagine Moduli Tradotti</legend>
          <fieldset>
            <div class="pure-control-group">
              <label for="nomeModulo">
                <input  id="nomeModulo" placeholder="inserire nomi modulo separati da spazio" style="width:43.5em">
              </label>
            </div>
            <hr>
            <button  class="pure-button pure-button-primary">Genera Pagina</button>
          </fieldset>
        </form>
      </div>
      <div class="pure-u-1-5">

      </div>
    </div>
  </content>
  <footer>
    <div class="pure-g">
      <div class="pure-u-1-5">

      </div>
      <div class="pure-u-3-5">
        <hr>
         {{ titolo }} &copy; PyMOTW-it Page Generator 2017
    </div>
      <div class="pure-u-1-5">
      </div>
    </div>
  </footer>
</body>
</html>
