{% extends "base.html" %}
{% block content %}
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="jumbotron">
                <h2>Il Modulo Python della Settimana</h2>

                <p>Questo sito contiene la traduzione italiana dell'apprezzata serie
                    <a href="http://pymotw.com/3/index.html" title="Python 3 Module of the Week">Python 3 Module of the Week</a> (PyMOTW-3), curata da
                    <a href="http://doughellmann.com/">Doug Hellmann</a>.</p>

                <p>Questa serie di articoli offre una analisi della libreria standard Python 3 attraverso vari esempi e spiegazioni</p>
                <p>Se cercate esempi per la serie originale <a href='http://pymotw.com/2/index.html'>PyMOTW Module of the Week (PyMOTW)</a>, riferita alla versione di Python 2, trovate la traduzione <a href='../index.html'>qui</a></p>

                <!-- <p>Come neofita del linguaggio Python ho molto apprezzato gli articoli di Doug. che si sono rivelati, almeno per me, una ottima fonte di apprendimento.</p>

                <p>Spero che questa traduzione possa aiutare coloro che programmano in Python e non hanno molta dimestichezza con la lingua inglese.</p> -->
            </div>
            {% for m_tre in indice.modulo_tre %}
                <div class="row">
                {% for modulo in m_tre %}
                    <div class="col-6 col-sm-6 col-lg-4">
                        <h2>{{ modulo.nome_per_teaser }}</h2>
                        <p><strong>{{ modulo.titolo }}</strong></p>
                        <p>{{ modulo.descrizione|safe }}</p>
                        <p><a class="btn btn-primary btn-xs" href="{{ modulo.url|safe }}">Leggi &raquo;</a></p>
                    </div><!--/span-->
                {% endfor %}
                </div><!--/row-->
            {% endfor %}
            <hr />
            <p>
            {% if indice.prev_url %}
                <a href="{{ indice.prev_url|safe }}"
                   class="btn btn-primary btn-sm" >
                    <span class="glyphicon glyphicon-chevron-left"></span> Altri moduli
                </a>
            {% endif %}
            {% if indice.next_url %}
                <a href="{{ indice.next_url|safe }}"
                   class="btn btn-primary btn-sm" >
                    <span class="glyphicon glyphicon-chevron-right"></span> Altri moduli
                </a>
            {% endif %}
            </p>
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="well sidebar-nav">
                    <h4>Ultimi moduli aggiunti/aggiornati</h4>
                    <ul>
                      {% for item in last_ten %}
                        <li>{{ item.last_upd }}: <a style="display: block;" title="{{ item.title }}" href="{{ item.name }}.html">{{ item.name }}</a></li>
                      {% endfor %}
                    </ul>
            </div><!--/.well -->

        <!--
                                <li>14.07.2018: <a style='display: block;' title="hmac - Firma Crittografica e Verifica di Messaggi" href='hmac.html'>hmac</a></li>
                                <li>30.06.2018: <a style='display: block;' title="sqlite3 - Database Relazionale Integrato" href='sqlite3.html'>sqlite3</a></li>
                                <li>16.06.2018: <a style='display: block;' title='dbm - Database Unix Chiave-Valore' href='dbm.html'>dbm</a></li>
                                <li>09.06.2018: <a style='display: block;' title='shelve - Conservazione Persistente di Oggetti
                                ' href='shelve.html'>shelve</a></li>
                                <li>01.06.2018: <a style='display: block;' title='pickle - Serializzazione di oggetti' href='pickle.html'>pickle</a></li>
                                <li>13.05.2018: <a style='display: block;' title='heapq - Algoritmo di Ordinamento Heapsort' href='heapq.html'>heapq</a></li>
                                <li>05.05.2018: <a style='display: block;' title='compileall - Compilazione in Byte-code di File Sorgente' href='compileall.html'>compileall</a></li>
                                <li>28.04.2018: <a style='display: block;' title='doctest - Test Tramite Documentazione' href='doctest.html'>doctest</a></li>
                                <li>21.04.2018: <a style='display: block;' title='timeit - Cronometra l&apos;esecuzione di piccoli frammenti di codice Python.' href='timeit.html'>timeit</a></li>
                                <li>15.04.2018: <a style='display: block;' title="profile e pstats - Analisi delle Prestazioni" href='profile.html'>profile</a></li>
                                <li>31.03.2018: <a style='display: block;' title="cgitb - Report Dettagliati di Traceback" href='cgitb.html'>cgitb</a></li>
                                <li>25.03.2018: <a style='display: block;' title="traceback - Eccezioni e Tracciature di Stack" href='traceback.html'>traceback</a></li>
                                <li>18.03.2018: <a style='display: block;' title="importlib - Il Meccanismo di Importazione di Python" href='importlib.html'>importlib</a></li>
                                <li>10.03.2018: <a style='display: block;' title="trace - Seguire il Flusso del Programma" href='trace.html'>trace</a></li>
                                <li>04.03.2018: <a style='display: block;' title="unittest - Struttura per Automatizzare Test" href='unittest.html'>unittest</a></li>

        -->

            <div class="well sidebar-nav">
                    <h3>Categorie</h3>
                        {% for categoria, moduli in indice.elenco_categorie %}
                            <div class='dropdown'>
                            <a data-toggle='dropdown' href='#'>{{categoria|safe}}</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            {% for modulo in moduli %}
                                <li><a style='display: block;' href='{{modulo.1|safe}}'>{{modulo.0|safe}}</a></li>
                            {% endfor %}
                            </ul>
                            </div>
                        {% endfor %}
            </div><!--/.well -->
        </div><!--/span-->
    </div><!--/row-->

    <hr>
        <div id="footer">
        <div class="container">
            <p class="text-muted">{{ indice.footer.nome_sito }}
            {{ indice.footer.periodo }} /
            Documento aggiornato il: {{ indice.footer.data_agg }}
            - Contatto: pymotw-it(at)robyp.x10host.com</p>
        </div>
    </div

{% endblock %}


