<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Il modulo Python della settimana, traduzione autorizzata di PyMOTW"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>PyMOTW-it - moduli - Pagina {{ indice.nr_pagina }}  </title>
    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <!-- Custom styles for this template -->
    <link href="css/offcanvas.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
    <script src="../assets/js/respond.min.js"></script>
    <![endif]-->

    <!--
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>      -->
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PyMOTW-it</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</div><!-- /.navbar -->

<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="jumbotron">
                <h2>Il Modulo Python della Settimana</h2>

                <p>Questo sito (in continuo aggiornamento) contiene la traduzione italiana dell'apprezzata serie
                    <a href="http://pymotw.com/2/" title="Python Module of the Week">Python Module of the Week</a> (PyMOTW), curata da
                    <a href="http://doughellmann.com/">Doug Hellmann</a>.</p>

                <p>Questa serie di articoli offre una analisi della libreria standard Python attraverso vari esempi e spiegazioni.</p>

                <p>Come neofita del linguaggio Python ho molto apprezzato gli articoli di Doug. che si sono rivelati, almeno per me, una ottima fonte di apprendimento.</p>

                <p>Spero che questa traduzione possa aiutare coloro che programmano in Python e non hanno molta dimestichezza con la lingua inglese.</p>
            </div>
            <div class="row">
                {% for modulo in indice.moduli %}
                    <div class="col-6 col-sm-6 col-lg-4">
                        <h2>{{ modulo.nome }}</h2>
                        <p><strong>{{ modulo.titolo }}</strong></p>
                        <p>{{ modulo.descrizione }}</p>
                        <p><a class="btn btn-default" href="{{ modulo.url }}">Leggi &raquo;</a></p>
                    </div><!--/span-->
                {% endfor %}
            </div><!--/row-->
            <p>
                <hr />
                <button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-chevron-left"></span> Altri moduli
                </button>
            </p>
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="well sidebar-nav">
                <ul class="nav">
                    <li>Sidebar</li>
                    <li class="active"><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li>Sidebar</li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li>Sidebar</li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div><!--/.well -->
        </div><!--/span-->
    </div><!--/row-->

    <hr>

    <footer>
        <p>&copy; Company 2013</p>
    </footer>

</div><!--/.container-->



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="assets/js/offcanvas.js"></script>
</body>
</html>

