{% extends "base.html" %}
{% block content %}
<form class="pure-form " action="{{ url_for('categorie') }}" method="post" name="newcateg">
  {{ form.hidden_tag() }}
  <fieldset>
    {{ form.csrf_token }}
    <div class="pure-control-group">
      {{ form.nome(size=50, placeholder="Nome nuova categoria") }} &nbsp;&nbsp;
    <button class="pure-button pure-button-primary siimple-color--navy" onclick="loading()">Aggiungi</button>
    </div>
  </fieldset>
</form>
<hr />
<table class="pure-table pure-table-horizontal pure-table-striped">
  <thead>
    <tr>
      <th>NOME</th>
    </tr>
  </thead>
  <tbody>
    {% for cat in listcat %}
      <tr>
        <td>{{ cat }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div>
</div>
<!--
{{ ckeditor.load() }}
{{ ckeditor.config(name='editor') }} -->
<!-- <h3>{{ log | safe }}</h3> -->
{% endblock %}
